@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;

400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-top {
  background-color: #0282f9;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  padding: 5px 0;
}

.header-top a {
  color: #fff;
  margin-left: 30px;
}

.header-bottom {
  height: 100px;
}

.header-bottom .container,
.header-bottom .row,
.header-bottom .logo,
.header-bottom .logo img {
  height: 100%;
}

.header-bottom .logo {
  padding: 15px 0;
}

.header-bottom .row {
  justify-content: space-between;
}

.header-bottom nav ul {
  height: 100%;
  display: flex;
}

.header-bottom nav ul li {
  height: 100%;
  margin-left: 30px;
  line-height: 80px;
}

.header-bottom nav ul li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  height: 100%;
}

.header-bottom nav ul li a .small-triangle {
  color: #0282f9;
  font-size: 10px;
}

.header-bottom nav ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.header-bottom nav ul li input[type=text] {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #0282f9;
  padding: 5px;
}

.header-bottom nav ul li input[type=text]::-webkit-input-placeholder {
  text-align: right;
}

.header-bottom nav ul li input[type=text]:-moz-placeholder {
  text-align: right;
}

.header-bottom nav ul li input[type=text]:focus-visible {
  outline: none;
}

.header-bottom nav ul li.active a {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

main {
  text-transform: uppercase;
  color: #fff;
}

.jumbo {
  height: 400px;
}

.jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.series {
  background-color: #1c1c1c;
  padding: 10px 0;
}

.series h2 {
  position: relative;
  bottom: 35px;
  background-color: #0282f9;
  padding: 10px 20px;
  display: inline-block;
}

.series .row {
  justify-content: center;
}

.series .card {
  width: calc(16.6666666667% - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.series .card img {
  width: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.series .card span {
  color: #fff;
  margin-top: 20px;
}

.series .card:hover {
  transform: scale(1.1);
}

.series .load-more {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #0282f9;
  border: 2px solid #0282f9;
  margin: 20px;
  padding: 10px 50px;
  transition: all 0.5s;
}

.series .load-more:hover {
  color: #0282f9;
  background-color: #fff;
}

.shop {
  background-color: #0282f9;
  padding: 50px 0;
}

.shop .row {
  justify-content: space-around;
}

.shop .box {
  min-width: 200px;
}

.shop .box a {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.shop .box a img {
  max-height: 50px;
}

.shop .box a span {
  color: #fff;
  white-space: nowrap;
  margin-left: 15px;
}

footer .row {
  justify-content: space-between;
}

.footer-top {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
  background-position: center;
}

.footer-top .left {
  display: flex;
}

.footer-top .left .col {
  padding: 35px 25px 35px 0;
}

.footer-top .left .col h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
}

.footer-top .left .col ul li a {
  color: #8f8f8f;
  font-size: 14px;
  margin: 3px 0;
  display: inline-block;
}

.footer-top .left .col ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-top .right {
  width: 50%;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-size: cover;
  background-position: center;
}

.footer-bottom {
  background-color: #303030;
  padding: 30px 0;
}

.footer-bottom .sign-up {
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #0282f9;
  padding: 10px;
  transition: all 0.5s;
}

.footer-bottom .sign-up:hover {
  background-color: #0282f9;
}

.footer-bottom ul {
  display: flex;
  align-items: center;
}

.footer-bottom ul a {
  color: #0282f9;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

