footer .row {
    justify-content: space-between;
}

.footer-top {
    background-image: url('../../../public/img/footer-bg.jpg');
    background-size: cover;
    background-position: center;

    .left {
        display: flex;

        .col {
            padding: 35px 25px 35px 0;

            h4 {
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                padding: 20px 0;
            }

            ul li a{
                color: #8f8f8f;
                font-size: 14px;
                margin: 3px 0;
                display: inline-block;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    .right {
        width: 50%;
        background-image: url('../../../public/img/dc-logo-bg.png');
        background-size: cover;
        background-position: center;
    }

}

.footer-bottom {
    background-color: #303030;
    padding: 30px 0;

    .sign-up {
        color: #fff;
        text-transform: uppercase;
        border: 2px solid $mainBlue;
        padding: 10px;
        transition: all .5s;

        &:hover {
            background-color: $mainBlue;
        }
    }

    ul {
        display: flex;
        align-items: center;
        
        a {
            color: $mainBlue;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}