.header-top {
    background-color: $mainBlue;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    padding: 5px 0;

    a {
        color: #fff;
        margin-left: 30px;
    }
}

.header-bottom {
    height: 100px;

    .container, .row, .logo, .logo img {
        height: 100%;
    }

    .logo {
        padding: 15px 0;
    }

    .row {
        justify-content: space-between;
    }

    nav ul{
        height: 100%;
        display: flex;

        li {
            height: 100%;
            margin-left: 30px;
            line-height: 80px;

            a {
                color: #000;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                display: inline-block;
                height: 100%;

                .small-triangle {
                    color: $mainBlue;
                    font-size: 10px;
                }
            }

            input[type="text"] {
                border-left: 2px solid #fff;
                border-right: 2px solid #fff;
                border-top: 2px solid #fff;
                border-bottom: 2px solid $mainBlue;
                padding: 5px;

                &::-webkit-input-placeholder { text-align:right; }
                &:-moz-placeholder { text-align:right; }

                &:focus-visible {
                    outline: none;
                }
            }

            &.active {
                border-bottom: 5px solid $mainBlue;

                a {
                    color: $mainBlue;
                }
            }
        }
    }
}