main {
    text-transform: uppercase;
    color: #fff;
}

.jumbo {
    height: 400px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.series {
    background-color: #1c1c1c;
    padding: 10px 0;

    h2 {
        position: relative;
        bottom: 35px;
        background-color: $mainBlue;
        padding: 10px 20px;
        display: inline-block;
    }

    .row {
        justify-content: center;
    }

    .card {
        width: calc(100% / 6 - 30px);
        margin: 15px;
        display: flex;
        flex-direction: column;
        transition: all .3s;

        img {
            width: 100%;
            max-height: 180px;
            object-fit: cover;
            object-position: top;
        }

        span {
            color: #fff;
            margin-top: 20px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .load-more {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        background-color: $mainBlue;
        border: 2px solid $mainBlue;
        margin: 20px;
        padding: 10px 50px;
        transition: all .5s;

        &:hover {
            color: $mainBlue;
            background-color: #fff;
        }
    }
}

.shop {
    background-color: $mainBlue;
    padding: 50px 0;

    .row {
        justify-content: space-around;
    }

    .box {
        min-width: 200px;

        a {
            margin: 20px 0;
            display: flex;
            align-items: center;

            img {
                max-height: 50px;
            }

            span {
                color: #fff;
                white-space: nowrap;
                margin-left: 15px;
            }
        }
    }
}